<form class="" action="figures/<%=@figure.id%>" method="post">

  <input type="text" name="figure[name]" value="<%=@figure.name%>">

  <br></br>

  <%Title.all.each do |title|%>
  <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>"<%='checked' if @figure.title == title%>">
  <%=title.name%></input>
  <%end%>
</form>
